@font-face {
    font-family: Lubalin_Graph;
    src: url(../fonts/Lubalin_Graph_Itc_T_EE_Bold.ttf);
}

@font-face {
    font-family: Lubalin_Graph_Semi;
    src: url(../fonts/Lubalin_Graph_SemiBold.otf);
}

/** These Fonts are from this Website: www.fonts.google.com (They are not stolen :)) **/
@font-face {
    font-family: Poppins_Bold;
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins_SemiBold;
    src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Poppins_Thin;
    src: url(../fonts/Poppins-Thin.ttf);
}

:root {
    --color-primary-thw: #003399;
    --color-primary-variant: #105aee;
    --color-body-background: #dfdfdf;
    --color-background: #FFFFFF;
    --color-font-primary: #000000;
    --color-font-hover-primary: #3f3e3e;
    --color-font-primary-variant: #FFFFFF;

    --color-light: rgba(132, 139, 200, 0.18);
    --box-shadow: 0 2rem 3rem var(--color-light);

    /**
    --font-poppins-bold: Poppins_Bold;
    --font-poppins-semibold: Poppins_SemiBold;
    --font-poppins-thin: Poppins_Thin;
    **/
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-body-background);
    min-height: 650vh;
    position: relative;
    z-index: 0;
}

body .background-images{
    position: fixed;
    z-index: -1;
    filter: blur(5px);
    width: 100%;
    height: 100%;
}

body .background-images img#background_2{
    margin-top: 10rem;
    width: 100%;
}


h1 {
    size: 20px;
    font-family: Lubalin_Graph;
    text-decoration: none;
}

h2 {
    size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {}

p{
    font-family: Arial, Helvetica, sans-serif;
}

/*********************************************************************/

nav {
    position: sticky;
    height: 100px;
    width: 100%;
    top: 0;
    position: -webkit-sticky;
    z-index: 10000;
}

nav .headlining {
    display: none;
    background-color: var(--color-background);
    height: 100px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: var(--box-shadow);
    display: inline-flex;
}

nav .headlining ul {
    display: contents;
    float: right;
    right: 0;
    margin-right: 50px;
}

nav .headlining ul li.overmenu {
    display: inline-block;
    line-height: 100px;
    padding: 0px 35px;
    margin-bottom: 30px;
}

nav .headlining ul li.overmenu a {
    font-size: 20px;
    color: var(--color-font-primary);
    text-decoration: none;
    font-family: Lubalin_Graph_Semi;
    transition: all 200ms ease-in-out;
}

nav .headlining .resp-menu-area{
    display: none;
}

nav .headlining .nav-icon {
    display: inline;
    max-height: 100px;
}

nav .headlining .nav-icon a img {
    box-sizing: content-box;
    height: 90px;
    width: 90px;
    filter: grayscale(100%);
    transition: all 200ms ease-in-out;
    transform: translate(0, 36px);
}

nav .headlining .nav-icon a img:hover {
    filter: grayscale(0%);
    transition: all 300ms ease-in-out;
}

nav .headlining ul li.overmenu a:hover {
    cursor: pointer;
    color: var(--color-primary-thw);
    transition: all 300ms ease-in-out;
}

nav .headlining ul li.overmenu a.active {
    color: var(--color-primary-variant);
}

nav .team-drop-down {
    position: absolute;
    display: none;
    background-color: var(--color-background);
    box-sizing: content-box;
    width: max-content;
    height: min-content;
    z-index: 101;
    box-shadow: var(--box-shadow);
    margin-left: 28rem;
    flex-direction: column;
    margin-top: -2.1rem;
}

nav .team-drop-down ul {
    list-style: none;
}

nav .team-drop-down ul li {
    padding: 20px 20px;
    transition: all 300ms ease-in-out;
}

nav .team-drop-down ul li:hover {
    background-color: var(--color-primary-thw);
    cursor: pointer;
    scale: 101%;
    transition: all 250ms ease-in-out;
}

nav .team-drop-down ul li a {
    font-family: Lubalin_Graph_Semi;
    color: var(--color-font-primary);
    text-decoration: none;
    font-size: 15px;
}

nav .scroll-progressbar {
    width: 100%;
    height: 8px;
    background: #ccc;
    z-index: 102;
}

nav .progress-bar {
    height: 8px;
    background: var(--color-primary-thw);
    width: 0%;
}

nav .headlining img#headlining-icon{
    display: none;
}

#upbutton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 110;
    border: none;
    outline: none;
    background-color: var(--color-primary-thw);
    color: var(--color-font-primary-variant);
    cursor: pointer;
    padding: 20px;
    border-radius: 5px;
}

/************************************************************************************/

.aging-settings {
    position: fixed;
}

.age-group-circle {
    background: var(--color-primary-thw);
    position: sticky;
    position: -webkit-sticky;
    height: 110px;
    width: 15rem;
    float: left;
    left: 0;
    border-radius: 0 0 150px 0;
    top: 0;
    box-shadow: var(--box-shadow);
}

.age-group-circle img{
    height: 5rem;
    float: right;
    right: 60px;
    position: relative;
    top: 15px;
    filter: grayscale(100%);
    transition: all 200ms ease-in-out;
}

.age-group-circle img.active{
    height: 5rem;
    float: right;
    right: 60px;
    position: relative;
    top: 15px;
    filter: grayscale(0%);
    transition: all 200ms ease-in-out;
}

.switch-adult-kid{
    position: relative;
    display: inline-block;
    height: 34px;
    width: 60px;
    float: left;
    left: 20px;
    top: 40px;
  }
  
.switch-adult-kid input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-adult-kid .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 25px;
}

.switch-adult-kid .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 25px;
}

input:checked + .slider {
  background-color: var(--color-primary-variant);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-primary-variant);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.wrapper .ad-be-a-hero{
    position: absolute;
    background-color: #003399;
    height: 20rem;
    width: 100%;
    top: 75rem;
}
/************************************************************************************/

footer {
    position: absolute;
    background-color: var(--color-background);
    box-sizing: content-box;
    height: 200px;
    width: 100%;
    box-shadow: 0 -2rem 3rem var(--color-light);
    top: 650vh;
    left: 0;
}

footer .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: content-box;
    height: 120px;
}

footer .footer-content img{
    box-sizing: content-box;
    width: 40px;
    height: 40px;
    margin: 0 20px;
    filter: grayscale(100%);
    transition: all 200ms ease-in-out;
}

footer .footer-content img:hover{
    color: var(--color-primary-variant);
    filter: grayscale(0%);
    transition: all 200ms ease-in-out;
}

footer .copyright-symbol{
    display: flex;
    width: 100%;
    justify-content: center;
    bottom: -30px;
    position: relative;
}

footer .copyright-symbol a{
    text-decoration: none;
    color: var(--color-font-primary);
}

footer .copyright-symbol a h6{
    font-family: Poppins;
    font-weight: 400;
}

footer .justice-imprint{
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer .justice-imprint a{
    text-decoration: none;
    color: var(--color-font-primary);
    margin: 0 30px;
    transition: all 300ms ease-in-out;
}

footer .justice-imprint a:hover{
    color: var(--color-primary-variant);
    transition: all 200ms ease-in-out;
}

footer .justice-imprint a h5{
    font-size: 20px;
    font-family: Poppins;
    font-weight: 400;
}

footer .useful-links{
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    float: right;
    margin-right: 10%;
    bottom: 8rem;
}

footer .useful-links h2, footer .useful-links h5{
    margin: 4px 0;
}

footer .useful-links a:hover{
    scale: 105%;
    transition: all 200ms ease-in-out;
    color: var(--color-primary-variant);
}

footer .useful-links a{
    text-decoration: none;
    color: var(--color-font-primary);
    transition: all 300ms ease-in-out;
}

footer .useful-links a h5{
    font-family: Poppins;
    font-weight: 400;
}

@media (max-width: 1400px) {
    footer .useful-links{
        display: none;
    }
}


@media (max-width: 800px) {
    
    
nav {
    /**display: flex;**/
    position: sticky;
    height: 60px;
    width: 100%;
    top: 0;
    position: -webkit-sticky;
    background-color: var(--color-background);
}

nav .headlining {
    display: inline-flex;
    background-color: var(--color-background);
    height: 60px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: var(--box-shadow);
}

nav .headlining .resp-menu-area{
    display: flex;
    gap: 5px;
    margin-right: 25px;
}

nav .headlining .resp-menu-area span{
    color: var(--color-font-primary);
}

nav .headlining .resp-menu-area h3{
    color: var(--color-font-primary);
    font-family: Lubalin_Graph_Semi;
}

nav .headlining ul {
    display: contents;
    float: right;
    right: 0;
    margin-right: 50px;
}

nav .headlining ul li.overmenu { /** Editor-Note: Rubriken hier verändern **/
    display: block;
    line-height: 80px;
    padding: 0px 80px;
}

nav .headlining ul li.overmenu a {
    font-size: 20px;
    color: var(--color-font-primary);
    text-decoration: none;
    font-family: Lubalin_Graph_Semi;
    transition: all 200ms ease-in-out;
}

nav .headlining .nav-icon {
    display: inline;
    max-height: auto;
    margin-top: 2.5px;
}

nav .headlining img#headlining-icon{
    display: block;
    position: relative;
    box-sizing: content-box;
    height: 50px;
    width: 50px;
    filter: grayscale(100%);
    transition: all 200ms ease-in-out;
    margin-left: 10px;
}

nav .headlining .nav-icon a img {
    display: none;
}

nav .headlining .nav-icon a img:hover {
    filter: grayscale(0%);
    transition: all 300ms ease-in-out;
}

nav .headlining ul li.overmenu a:hover {
    cursor: pointer;
    color: var(--color-primary-thw);
    transition: all 300ms ease-in-out;
}

nav .scroll-progressbar {
    display: none;
}

nav .resp-menu{
    display: none;
    background-color: var(--color-background);
    box-sizing: content-box;
    margin-top: 31.5rem;
    right: -16.5rem;
    position: relative;
}

#upbutton {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 110;
    border: none;
    outline: none;
    background-color: var(--color-primary-thw);
    color: var(--color-font-primary-variant);
    cursor: pointer;
    padding: 10px;
    border-radius: 2.5px;
}

nav #resp-menu-area-btn-close{
    display: none;
}

nav .team-drop-down{
    position: absolute;
    display: none;
    background-color: var(--color-background);
    box-sizing: content-box;
    width: max-content;
    height: min-content;
    z-index: 101;
    box-shadow: var(--box-shadow);
    margin-left: -12rem;
    flex-direction: column;
    margin-top: -14.5rem;
}

footer .justice-imprint a{
    margin: 0 1%;
}

footer .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100px;
    width: 100%;
}

footer .footer-content img{
    box-sizing: content-box;
    width: 8%;
    height: 8%;
    margin: 0 8%;
}

footer .useful-links{
    display: none;
}

}